/* 
    Author: Matt Britt
    Date: 2/22/18
    Description: HardwarePage.css is the styling file the HardwarePage.
*/

#hardware-page{
    width: 750px;

 
}


#hardware-page h1 {
    font-size: 50px;
    color: #b25a56;
    margin: 10px;
}

