/* 
    Author: Matt Britt
    Date: 2/22/18
    Description: SoftwarePage.css is the styling file the SoftwarePage.
*/
#software-page{
    width: 750px;
    text-align: left;
}

#software-page h1{
    text-align: center;
    font-size: 50px;
    color: #b25a56;
    margin: 10px;
}