/* 
    Author: Matt Britt
    Date: 2/22/18
    Description: Accordian.css is the styling file for the Accordian react component.
    Credit: This is based on W3Schools https://www.w3schools.com/howto/howto_js_accordion.asp
*/

.accordian-div{
    box-shadow: 2px 5px 10px;
    font-size: 25px;
}
.accordian{
    background: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;

    font-size: 25px;
}

.accordian:after{
    content: '\02795';
   
    color: #777;
    float: right;
    margin-left: 5px;
}

.active, .accordian:hover{
    background: #ccc;
}

.active:after{
    content: '\2796';
}

.panel{
    padding: 0 18px;
    background: rgb(250,250,250);
   
    overflow: hidden;
    max-height: 0;
   
     transition: max-height 0.2s ease-out;
}
