/* 
    Author: Matt Britt
    Date: 2/16/18
    Description: Carousel.css is the styling file for the Carousel react component.
*/


.carousel{
   display: flex;
   align-items: center;
}

.carousel-ol{
    list-style: none;

    position: relative;
    overflow: hidden;

    

    padding: 0;
    margin: 0;

    width: 640px;

    height: 585px;

}

.carousel-active {
    top: 0 !important;
    
    transition: 1s;
}


.carousel-ol li{

    box-sizing: border-box;
    position: absolute;
    top: 1000px; 
}

.carousel > p{
    color: rgba(0,0,0,.8);
    font-size: 200px;
    font-weight: 900;
    padding: 30px;

}

.carousel > p:hover{
    color: rgba(0,0,0,1);
}

